<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://vladalexa.com/apps/universal/valta/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>+qT3XxEl5+dG2F2H7NYA5zIupA07rNka5riG+sxqC3A=</string>
</dict>
</plist>
